@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #040312;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
backdrop-blur-lg {
    backdrop-filter: blur(10px); 
  }

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    width: 100%;
    height: 100%;
}


  