<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New reply notification </title>
    <style type="text/css">
        body{
            background-color: #f2f2f2;
        }

    </style>
</head>
<body>
     <h1>   
        Hello <%= name %>,
     </h1> 
    <p> Your question " <%= title %>" has a new reply. </p>
    <p> Please login to your account to view the reply. </p>
</body>
</html>